/*
 * SPDX-FileCopyrightText: 2025 Velociraptor115
 *
 * SPDX-License-Identifier: Apache-2.0
 */

body {
  min-height: 100vh;
  line-height: 1.4;
  font-family: -apple-system, "system-ui", sans-serif;
  font-size: 13px;
}
